# Dependencies
node_modules/
backend/node_modules/
dashboard/node_modules/
widget/node_modules/

# Production builds
dist/
backend/dist/
dashboard/dist/
widget/dist/

# Environment variables & secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
backend/.env
dashboard/.env
widget/.env
*.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Database & Cache data
postgres_data/
redis_data/

# IDE / Editor configs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS Generated
.DS_Store
Thumbs.db
